<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.agiledevgroup2.xpnavigator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xpNavigator"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoardActivity"
            android:label="@string/title_activity_board"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EditCardActivity"
            android:label="@string/title_activity_edit_card"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MembersBoardActivity"
            android:label="@string/title_activity_board_members"
            >
        </activity>
    </application>

</manifest>